<mat-card>
  <mat-card-header>
    <mat-card-title>Bienvenue sur le site internet du parc d'attraction</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="attraction-title">
      <div class="attraction">
        <span>Nom de l'attraction</span>
        <span>Description de l'attraction</span>
        <span>Difficulté de l'attraction / 5</span>
      </div>
    </div>

    <!-- Affichage des attractions -->
    <ng-container *ngFor="let attraction of attractions | async">
      <div class="attraction">
        <span>{{ attraction.nom }}</span>
        <span>{{ attraction.description }}</span>
        <span>{{ attraction.difficulte }} / 5</span>
      </div>

      <!-- Formulaire de critique sous chaque attraction -->
      <form #form="ngForm" (ngSubmit)="addCritique(attraction.attraction_id, form)">
        <mat-form-field appearance="fill">
          <mat-label>Commentaire</mat-label>
          <textarea matInput name="commentaire" [(ngModel)]="nouvelleCritique.commentaire" required></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Note</mat-label>
          <input matInput type="number" name="note" [(ngModel)]="nouvelleCritique.note" min="1" max="5" required>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Envoyer</button>
      </form>

      <!-- Affichage des critiques pour chaque attraction -->
      <ng-container *ngIf="(critiques[attraction!.attraction_id!] | async) as avis">
        <!-- <div *ngIf="(critiques[attraction.attraction_id] | async) as avis"> -->
          <h3>Avis :</h3>
          <div *ngFor="let critique of avis">
            <div class="avis">
              <span>{{ critique.commentaire }}</span>
              <span>Note: {{ critique.note }} / 5</span>
            </div>
          </div>
        <!-- </div> Assurez-vous que cette balise de fermeture est correctement placée -->
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>
